nav {
    background-color: #e3e4e5;
    height: 30px;
}

.style-red {
    color: #e04444;
}

nav .top-nav {
    width: 1190px;
    min-width: 960px;
    margin: 0 auto;
}

nav .top-nav ul {
    float: right;
}

nav .top-nav ul li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
}

nav .top-nav ul li:not(:last-child)::after {
    height: 14px;
    width: 1px;
    background-color: #cccccc;
    content: "";
    position: absolute;
    top: 8px;
    right: 0px;
    display: block;
}

nav .top-nav ul li.sub-nav:hover {
    background-color: #ffffff;

}

nav .top-nav ul li.sub-nav:hover .sub-nav-box {
    display: block;
}



nav .top-nav ul li.sub-nav .sub-nav-box {
    background-color: #ffffff;
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 0 0 8px 8px;
    display: none;
    z-index: 10;
}



nav .top-nav ul li.sub-nav .my-jd-list {
    width: 280px;
    padding: 15px 5px;
}


nav .top-nav ul li.sub-nav .down-items,
.item-business {
    border-top: 1px solid #f1f1f1;
}

nav .top-nav ul li.sub-nav .my-jd-list .item {
    width: 125px;
}

nav .top-nav ul li.sub-nav .inner {
    width: 140px;
    background-color: #ffffff;
    padding: 15px 5px;
}

nav .top-nav ul li.sub-nav .inner .item {
    width: 56px;
}

nav .top-nav ul li.sub-nav .client-service {
    width: 270px;
    background-color: #ffffff;
    padding: 15px 5px;
}

nav .top-nav ul li.sub-nav .client-service .item {
    width: 120px;
}

nav .top-nav ul li.sub-nav .browser-nav {
    width: 1190px;
    background-color: #ffffff;
    position: absolute;
    left: -1020px;
    padding: 15px 5px;
    display: none;
}

nav .top-nav ul li.sub-nav .browser-nav .fore1,
.fore2,
.fore3,
.fore4 {
    float: left;
    width: 24%;
    margin-right: 1%;
}


nav .top-nav ul li.sub-nav .browser-nav .item {
    width: 80px;
}

nav .top-nav ul li.sub-nav .item {
    display: inline-block;
    white-space: nowrap;
    margin-left: 10px;
}

nav .top-nav ul li.sub-nav h5 {
    margin-left: 10px;
}


header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

header .header {
    width: 1190px;
    min-width: 960px;
    margin: 0 auto;
    height: 140px;
    position: relative;
}

header .header .logo {
    position: absolute;
    left: 0;
    top: 10px;
    width: 190px;
    height: 120px;
}

header .header .logo img {
    width: 100%;
    height: 100%;
}

header .header .search-area {
    height: 60px;
    position: absolute;
    top: 30px;
    left: 250px;
    width: 750px;
}

header .header .search-area .search-box input {
    height: 26px;
    width: 425px;
    padding: 1px 44px 1px 17px;
    border: 3px solid #e04444;
    outline: none;
    line-height: 26px;
}

header .header .search-area .search-box a span {
    z-index: 1;
    position: absolute;
    top: 4px;
    left: 453px;
    height: 26px;
    line-height: 26px;
}

header .header .search-area .search-box .search-btn {
    width: 58px;
    height: 34px;
    line-height: 34px;
    border: none;
    background-color: #e1251b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 487px;
    top: 0;
}

header .header .search-area .search-box .shop-cart {
    position: absolute;
    right: 30px;
    top: 0;
    width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border: 1px solid #e3e4e5;
    margin-right: 10px;
    cursor: pointer;
}

header .header .search-area .search-box .shop-cart:hover {
    border: 1px solid #e04444;
}

header .header .search-area .search-box .shop-cart i.iconfont {
    font-size: 20px;
    color: #e1251b;
    height: 32px;
    line-height: 32px;
}

header .header .search-area .search-box .shop-cart a {
    color: #e1251b;
    height: 32px;
    line-height: 32px;
}

header .header .search-area .hot-words ul li {
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
}

header .header .search-area .hot-words ul li a {
    font-size: 10px;

}

header .header .search-area .recommend {
    position: absolute;
    left: -40px;
    bottom: 0;
    top: 77px;
}

header .header .search-area .recommend ul li {
    display: inline-block;
    white-space: nowrap;
    margin-right: 15px;
}

header .header .search-area .recommend ul li a {
    font-size: 16px;
}

header .header .search-area .recommend ul li a:not(.style-red) {
    color: #333333;
}

header .header .header-advice {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 190px;
    height: 120px
}

header .header .header-advice img {
    width: 100%;
    height: 100%;
}

.mod-content .mod-content-box {
    width: 1190px;
    margin: 10px auto;
}

.mod-content .mod-content-box .hierarchical-menu {
    float: left;
    height: 470px;
    width: 190px;
    margin-right: 10px;
    background-color: #fff;
    position: relative;
}

.mod-content .mod-content-box .hierarchical-menu ul li {
    margin: 5px 10px;
}

.mod-content .mod-content-box .hierarchical-menu ul li:hover {
    background-color: #d9d9d9;
}


.mod-content .mod-content-box .hierarchical-menu ul li .main-menu a {
    font-size: 14px;
    color: #333333;
}

.mod-content .mod-content-box .hierarchical-menu ul li .main-menu a:hover {
    color: #e1251b;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu {
    position: absolute;
    left: 191px;
    top: 0px;
    width: 1000px;
    min-height: 470px;
    z-index: 5;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu.active {
    display: block;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box {
    max-width: 80%;

    min-height: 468px;
    float: left;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box .menu-title {
    overflow: hidden;
    padding-left: 20px;
    height: 24px;
    margin: 20px 10px;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box .menu-title a:hover {
    background-color: #e1251b;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box .menu-title a {
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
}


.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box .menu-title a i.iconfont {
    font-size: 12px;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box dl {
    clear: both;
    display: flex;
    margin-bottom: 5px;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box dl dt {
    width: 70px;
    text-align: right;
    margin: 5px;
    flex-shrink: 0;
}


.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box dl dt a {
    font-weight: bolder;
    color: #1c1f21;
    white-space: nowrap;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box dl dd {
    margin: 5px 8px;
}


.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .left-box dl dd a {
    overflow: hidden;
    font-size: 12px;
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .right-box {
    width: 20%;
    float: right;
    padding-top: 20px;
}

.mod-content .mod-content-box .hierarchical-menu ul li .sub-menu .right-box .pic-box {
    height: 134px;
    width: 168px;
    margin: 10px 20px 0 0;
}

.mod-content .mod-content-box .slider {
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    height: 470px;
}


.mod-content .mod-content-box .slider#main-slider,
.slider#mod-advices {
    float: left;
}


.mod-content .mod-content-box .slider#main-slider .photo-content {
    display: flex;
    height: 100%;
}

.mod-content .mod-content-box .slider#mod-advices .photo-content {
    display: flex;
    height: 32%;
}

.mod-content .mod-content-box .slider button {
    width: 35px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, .2);
    margin-top: -20px;
    font-size: 30px;
    z-index: 3;
    border: none;
    outline: none;
    cursor: pointer;
}

.mod-content .mod-content-box .slider .slider-left-btn {
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 0 50% 50% 0;
}

.mod-content .mod-content-box .slider .slider-right-btn {
    position: absolute;
    top: 50%;
    border-radius: 50% 0 0 50%;
    right: 0;
}

.mod-content .mod-content-box .slider button {
    display: none;
}

.mod-content .mod-content-box .slider:hover button {
    display: block;
}

.mod-content .mod-content-box .slider button:hover {
    background-color: rgba(255, 255, 255, .2);
    color: rgba(0, 0, 0);
    transition: background .3s ease;
}


.mod-content .mod-content-box .slider .photo-index {
    position: absolute;
    bottom: 3%;
    left: 10%;
}

.mod-content .mod-content-box .slider .photo-index>ol {
    display: flex;
    height: 14px;
    justify-content: space-evenly;
    align-items: center;
}

.mod-content .mod-content-box .slider .photo-index>ol>li {
    list-style: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
}

.mod-content .mod-content-box .slider .photo-index>ol>li.active {
    background-color: #e1251b;
}

.mod-content .mod-content-box .slider .photo-content .photo-list img {
    width: 100%;
    height: 100%;
}


.mod-content .mod-content-box .mod-info {
    float: right;
    width: 190px;
    height: 470px;
    background-color: #fff;
}

.mod-content .mod-content-box .mod-info .user-info {
    height: 15%;
    width: 100%;
    position: relative;
}

.mod-content .mod-content-box .mod-info .user-info .user-avatar {
    position: absolute;
    left: 20px;
    top: -4px;
    width: 44px;
    height: 44px;
}

.mod-content .mod-content-box .mod-info .user-info .user-avatar a.user-avatar-lk {
    border: 2px solid #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}


.mod-content .mod-content-box .mod-info .user-info .user-avatar .user-avatar-lk img {
    display: block;
    width: 40px;
    height: 40px;
}

.mod-content .mod-content-box .mod-info .user-info .user-avatar a img {
    vertical-align: middle;
    border: 0;
    border-radius: 50%;
}

.mod-content .mod-content-box .mod-info .user-info .user-show {
    position: absolute;
    top: 16px;
    left: 74px;
    right: 10px;
    font-size: 12px;
}

.mod-content .mod-content-box .mod-info .user-profit {
    height: 7%;
    font-size: 0;
    text-align: center;
}


.mod-content .mod-content-box .mod-info .user-profit .user_profit_lk {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 13px;
    background: #e1251b;
    color: #fff;
}

.mod-content .mod-content-box .mod-info .user-profit .user_profit_lk.user_profit_lk_plus {
    background: #363634;
    color: #e5d790;
}

.mod-content .mod-content-box .mod-info .user-profit .user_profit_lk.user_profit_lk_plus:hover {
    background: #e1251b;
    color: #fff;
    transition: background .3s ease;
}

.mod-content .mod-content-box .mod-info .news-info {
    height: 28%;
    width: 100%;
    border-top: 1px solid #f1f1f1;
    position: relative;
}

.mod-content .mod-content-box .mod-info .news-info .news-head {
    height: 20px;
    padding: 10px 0 0;
    line-height: 20px;
    font-size: 0;
    margin-bottom: 8px;
}

.mod-content .mod-content-box .mod-info .news-info .news-head .news_tit {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
}

.mod-content .mod-content-box .mod-info .news-info .news-head .news_more {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
}

.mod-content .mod-content-box .mod-info .news-info .news-list {
    position: relative;
    margin: 0 15px;
    height: 88px;
}

.mod-content .mod-content-box .mod-info .news-info .news-list .news-item {
    max-width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}

.mod-content .mod-content-box .mod-info .news-info .news-list .news-item .news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225, 37, 27, .08);
    margin-right: 6px;
}

.mod-content .mod-content-box .mod-info .service-info {
    height: 50%;
    width: 100%;
    border-top: 1px solid #f1f1f1;
    position: relative;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry {
    overflow: hidden;
    padding: 5px .5px;
    background: #fff;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list {
    padding-top: 5px;
    height: 225px;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list .service-item {
    position: relative;
    float: left;
    width: 63px;
    height: 55px;
    background: #fff;
    text-align: center;
    overflow: hidden;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list .service-item a {
    display: block;
    position: relative;
    cursor: pointer;
    transition: all .2s linear;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list .service-item a .service-icon {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    display: block;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list .service-item a img {
    width: 28px;
    height: 28px;
    border: 0;
    vertical-align: middle;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list .service-item a .service-icon-img {
    display: block;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list .service-item a .service-icon-img-hover {
    display: none;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list .service-item:hover .service-icon-img {
    display: none;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list .service-item:hover .service-icon-img-hover {
    display: block;
}

.mod-content .mod-content-box .mod-info .service-info .service-entry .service-list .service-item a .service-txt {
    display: block;
    height: 25px;
    line-height: 25px;
    border-bottom: 2px solid #fff;
    color: #333;
    transition: color .15s ease;
}

.mod-content .mod-content-box .mod-info .service-info .service-pop {
    position: absolute;
    top: 100%;
    height: 50%;
    width: 100%;
    background-color: #fff;
    transition: all .2s ease;
    display: none;
}