*{
    margin:0;
    padding:0
}

html,body {
    width:100%
}

html, body, ul, ol, li {
    padding: 0px;
    margin: 0px;
}
dl, dt, dd {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style: none;
}