* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    width: 100%;
    min-width: 960px;
    font: 12px/1.5 "PingFang SC",
        "微软雅黑",
        "Microsoft YaHei",
        Helvetica,
        "Helvetica Neue",
        Tahoma,
        Arial,
        sans-serif;
    color: #1c1f21;
}

a {
    color: #999;
}

ul li {
    list-style: none;
}